$colorWhite: white;
$colorBlack: black;
$colorRose: #c24fb6;
$colorBlue: #3f51b8;

$mainColor: $colorBlack;

$ease0s: 0s ease;
$ease03s: 0.3s ease;
$ease03s03s: 0.3s ease 0.3s;
$ease03s01s: 0.3s ease 0.1s;
